@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/*  font-family: 'Poppins', sans-serif; */
/*  Colors 
Purple: #F23779
Bright-Orange: #FF6803
Orange: #FFA62E
black: #252525
*/

/* Font 
Poppins
*/

/* Utilities start */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

html body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1100px; /* Adjusted according to design to better fit the "blob" background and desktop icon   */
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* Utilities end */

/* Navbar start */
#navbar {
    border-bottom: 0.5px solid #57647c38;
    margin-top: 5px;
    width: auto;
    display: flex;
    height: 4.438rem;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 200px;
    height: 50px;
}

#navbar ul {
    display: flex;
    align-items: center;
}

ul li a {
    text-transform: uppercase;
    color: #252525;
    margin-right: 1.125rem;
    font-size: 0.8rem;
}

#search-icon {
    margin-right: 1.875rem;
    font-size: 1.125rem;
}

#button-top {
    border: 1px solid #FF6803;
    width: 139px;
    height: 35px;
    font-size: 1rem;
    font-weight: 500;
    color: #252525;
    border-radius: 5px;
    padding-top: auto;
    padding-bottom: auto;
}

/* Navbar end */ 
/* Background: Height adjusted so that showcase fits screen view upon opening website */
#bg {
    position: absolute;
    top: 0;
    left: -350px;
    height: 99vh;
    width: 2000px;
    z-index: -1;
}


/* Background */

/* Showcase-1 starts */
#showcase-1 {
    display: flex;
    height: 450px;
    align-items: center;
    margin-top: 80px;
}

#showcase-1-left {
    margin-top: -80px;
}

#showcase-1 h1 {
    font-size: 3.3rem;
    margin-bottom: 30px;
    line-height: 3.5rem;
}

#showcase-1 p {
    font-size: 0.8rem;
    font-style: light;
    font-weight: 300;
    padding-right: 20%;
    margin-bottom: 30px;
}

.button-standard {
    border-style: none;
    background: linear-gradient(90deg, rgba(242,55,121,1) 28%, rgba(255,104,3,1) 100%);
    height: 35px;
    font-weight: 300;
    font-style: light;
    font-size: 0.8rem;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
}

#create-account {
    width: 200px;
}


#showcase-1-right {
    position: relative;
    width: 60%;
}

#desktop-icon {
    position: relative;
    left: 100px;
    width: 650px;
    height: 600px;
}

#blob {
    position: absolute;
    height: 700px;
    width: 900px;
    top: -90px;
    left: 90px;
    z-index: -1;

}
/* Showcase-2 ends */