@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
/*  Colors 
Purple: #F23779
Bright-Orange: #FF6803
Orange: #FFA62E
Dark: #252525
*/

/* Font 
Poppins: 'Poppins', sans-serif;
*/

/* ******TO DO***** 
check Poppins
text transform: capitilize
*/

/* Utilities start */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

html body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    color: #252525;
}

.container {
    width: 100%;
    max-width: 1100px; /* Adjusted according to design to better fit the "blob" background and desktop icon   */
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/* Utilities end */

/* Navbar start */
#navbar {
    border-bottom: 0.5px solid #57647c38;
    margin-top: 5px;
    width: auto;
    display: flex;
    height: 4.438rem;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: 200px;
    height: 50px;
}

#navbar ul {
    display: flex;
    align-items: center;
}

ul li a {
    text-transform: uppercase;
    color: #252525;
    margin-right: 1.125rem;
    font-size: 0.8rem;
}

#search-icon {
    margin-right: 1.875rem;
    font-size: 1.125rem;
}

#button-top {
    border: 1px solid #FF6803;
    width: 139px;
    height: 35px;
    font-size: 1rem;
    font-weight: 500;
    color: #252525;
    border-radius: 5px;
    padding-top: auto;
    padding-bottom: auto;
}

/* Navbar end */ 
/* Background: Height adjusted so that showcase fits screen view upon opening website */
#bg {
    position: absolute;
    top: 0;
    left: -350px;
    height: 99vh;
    width: 2000px;
    z-index: -1;
}


/* Background */

/* Showcase-1 starts */
#showcase-1 {
    display: flex;
    height: 450px;
    align-items: center;
    margin-top: 80px;
}

#showcase-1-left {
    margin-top: -80px;
}

#showcase-1-left h1 {
    font-size: 3.1rem;
    margin-bottom: 30px;
    line-height: 3.5rem;
    font-family: 'Poppins', sans-serif;
}

#showcase-1 p {
    font-size: 0.8rem;
    font-style: light;
    color: #57647C;
    font-weight: 300;
    padding-right: 20%;
    margin-bottom: 30px;
}

.button-standard {
    border-style: none;
    background: linear-gradient(90deg, rgba(242,55,121,1) 28%, rgba(255,104,3,1) 78%);
    height: 35px;
    font-weight: 300;
    font-style: light;
    font-size: 0.8rem;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
}

#create-account {
    width: 200px;
}


#showcase-1-right {
    position: relative;
    width: 60%;
}

#desktop-icon {
    position: relative;
    left: 100px;
    width: 650px;
    height: 600px;
}

#blob {
    position: absolute;
    height: 700px;
    width: 900px;
    top: -90px;
    left: 90px;
    z-index: -1;

}
/* Showcase-1 ends */

/* Showcase 2 start */
#showcase-2 {
    margin-top: 50px;
    display: grid;
    height: auto;
    grid-template-columns: auto 200px 200px;
    grid-template-rows: auto auto;
    justify-content: space-between;
    align-content: center;
    column-gap: 80px;
}

#box1-s2 h1 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
}

#box1-s2 {
    grid-row: 1/3;
    height: auto;
    padding-right: 50px;
}

.grid-text-small {
    font-size: 0.8rem;
    color: #57647C;
    font-weight: 400;
    margin-bottom: 20px;
}

.grid-box h2 {
    font-size: 0.9rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;;
}

.grid-box-s2 {
    /* width: 300px; */
    height: 200px;
    margin-bottom: 30px;
}

.grid-box-s2 h1 {
    margin-bottom: 20px;
    padding-right: 200px;
}

#view-all {
    width: 125px;
}
/* Showcase 2 end */

/* Showcase 3 start */
#showcase-3 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto 30px 50px 280px;
    grid-template-rows: 130px 110px 110px 110px auto;
    row-gap: 30px;
    height: auto;
    border: 1px solid black;
}

.s3-grid-small-text {
    font-size: 0.8rem;
    color: #57647C;
    font-weight: 400;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.s3-grid-medium-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    padding-top: 5px;
}

.s3-grid-numbers {
    color: #F23779;
    font-size: 2rem;
    font-style: bold;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
#box1-s3 {
    border: 1px solid orange;
    grid-row: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -75px;
    background-color: palegreen;
}

#box2-s3 {
    position: absolute; /* Absolute used to get rid of the box*/
}

#box3-s3 {
    grid-row: 1/5;
}

.box4-s3 {
    grid-column: 3/5;
    font-size: 1.9rem;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 2rem;
}
#box4-s3 {
    grid-column: 3/5;
    font-size: 1.9rem;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 2rem;
}

#box5-s3 {
}

#box6-s3 {
}

.grid-box {
    border: 1px solid green;
}

/* Showcase 3 end */